/**
!/.gitignore
!/patch/
/patch/**
!/patch/Mods/
!/patch/Graphics/
/patch/Graphics/**
!/patch/Graphics/Icon/
/patch/Graphics/Icon/**
!/patch/Graphics/Icon/Item
/patch/Graphics/Icon/Item/**
!/patch/Graphics/Icon/Item/lvc*
/patch/Mods/**
!/patch/Mods/LyraVickyCrests/
!/patch/Mods/LyraVickyCrests/**
!/patch/Mods/LyraVickyCrestsMain.rb