/**
!/.gitignore
!/patch/
/patch/**
!/patch/Mods/
!/patch/Graphics/
/patch/Graphics/**
!/patch/Graphics/Battlers/
!/patch/Graphics/Characters/
/patch/Graphics/Characters/**
!/patch/Graphics/Characters/trainerVictory.png
!/patch/Graphics/Characters/trainerLyra.png
/patch/Graphics/Battlers/**
!/patch/Graphics/Battlers/gardevoir
!/patch/Graphics/Battlers/gardevoir/**
!/patch/Graphics/Battlers/maractus
!/patch/Graphics/Battlers/maractus/**
!/patch/Graphics/Icons/
/patch/Graphics/Icons/**
!/patch/Graphics/Icons/Pokemon
/patch/Graphics/Icons/Pokemon/**
!/patch/Graphics/Icons/Pokemon/icon282.png
!/patch/Graphics/Icons/Item
/patch/Graphics/Icons/Item/**
!/patch/Graphics/Icons/Item/lvc*
/patch/Mods/**
!/patch/Mods/LyraVickyCrests/
!/patch/Mods/LyraVickyCrests/**
!/patch/Mods/LyraVickyCrestsMain.rb