/**
!/.gitignore
!/patch/
/patch/**
!/patch/Mods/
!/patch/Graphics/
/patch/Graphics/**
!/patch/Graphics/Icons/
/patch/Graphics/Icons/**
!/patch/Graphics/Icons/Item
/patch/Graphics/Icons/Item/**
!/patch/Graphics/Icons/Item/lvc*
/patch/Mods/**
!/patch/Mods/LyraVickyCrests/
!/patch/Mods/LyraVickyCrests/**
!/patch/Mods/LyraVickyCrestsMain.rb